body{

background-image:url(../images/background.jpg);
color:black;

}

h1 { 
  text-align: center;  
}

.container {
  background-color: white;
  width:50%;

}


.trivia-game {
  padding:10px;
  
}
input { padding:10px
  ; }